body {
    background-color: #101218;
    font-family: 'Cal Sans', sans-serif;
    margin: 0;
    padding: 0;
    color: #ffffff;
  }
  
  #product-detail {
    max-width: 900px; 
    margin: 50px auto;
    background: linear-gradient(to right, #0a0f1a, #0b1e35, #081c2c);
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    text-align: center;
  }
  
  .Titlemm {
    font-size: 22px;
    color: #f5f5f5;
    margin: 20px 0;
    line-height: 1.6;
  }
  
  .Productimg {
    max-width: 250px;
    height: auto;
    border-radius: 20px;
    margin: 20px 0;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s;
  }
  
  .Productimg:hover {
    transform: scale(1.05);
  }
  
  .tton {
    padding: 12px 30px;
    background: linear-gradient(to right, #ffffff, #f2faff);
    color: #101218;
    border: none;
    font-weight: bold;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .tton:hover {
    background: linear-gradient(to right, #eaeaea, #f5f7fa);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    transform: scale(1.05);
  }
  